<h1>Applicant's Info </h1>

<p>Name: <%= @application.name %></p>
<p>Address: <%= @application.address %></p>
<p>Description: <%= @application.description %></p>
<p>Status: <%= @application.application_status %></p>

<h2> Pets on application </h2>
<% @application.pets.each do |pet| %>
  <p><%= link_to pet.name, "/pets/#{pet.id}" %> </p>
<% end %>
